#contacts {
  padding: 60px 0;

  .main-block-title {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.2;
    color: #000;
  }

  .facebook,
  .instagram,
  .youtube,
  .tiktok,
  .linkedin {
    a {
      display: block;
      width: 36px;
      height: 36px;
      background: #3b5998;
      color: #515151;
      text-align: center;
      border-radius: 50%;
      outline: none !important;
      cursor: pointer;

      &:hover {
        transition: all 0.5s ease-in-out;
        background: #ffffff;
        color: #ffffff;
        box-shadow: #000000 0px 0px 0px 1px;
        svg {
          fill: #000000;
        }
      }
    }
  }
  .instagram a {
    background: radial-gradient(
      circle at 33% 100%,
      #fed373 4%,
      #f15245 30%,
      #d92e7f 62%,
      #9b36b7 85%,
      #515ecf
    );
  }
  .youtube a {
    background: #ff0100;
  }
  .tiktok a {
    background: #000000;
  }
  .linkedin a {
    background: #2867b2;
  }
  svg {
    height: 16px;
    width: 16px;
    width: auto;
    margin: 12px auto;

    fill: rgb(255, 255, 255);
  }
  ul {
    display: flex;
    // justify-content: center;
    // align-items: center;
    gap: 10px;
    padding: 10px 0 0 0;

    li {
      list-style: none;
      margin-bottom: 2rem;
    }
  }
}

.contact-block-container {
  h6 {
    color: black;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.4;
  }
  p {
    font-size: 14px;
  }

  a {
    color: #c30e2e;
    &:hover {
      color: black;
    }
  }
  .social-title {
    display: block;
    color: #c30e2e;
    font-weight: 900;
    margin: 20px auto 0px auto;
    font-size: 16px;
  }
}
.showroom-title {
  color: #121212;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.4;
}
@media only screen and (max-width: 484px) {
  #contacts {
    padding: 30px 0;
    .main-block-title {
      font-size: 24px;
    }
    a {
      text-align: left;
      display: contents;
    }
  }
}

////

.wrap {
//   width: 100vw;
//   height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#tooltip {
  padding: 15px;
  background-color: #eee;
  color: #9c9c9c;
  width: 100%;
  text-align: center;
}

.land {
  fill: #ccc;
  fill-opacity: 1;
  stroke: white;
  stroke-opacity: 1;
  stroke-width: 0.5;
  transition: 0.2s ease-out;
}

.land:hover {
  fill: #a9a9a9;
}

.tooltip {
  background-color: #333;
  color: #fff;
  padding: 1em;
}

@media only screen and (max-width: 991px) {
  #map {
    display: none;
  }
}
