#ecoline-main {
  .col-md-6 {
    margin: 50px;
    position: absolute;
  }
  a {
    color: #ffffff !important;
    background-color: #c30e2e !important;
    text-decoration: none;
    border: 0;
    z-index: 15;
    font-size: 14px;
    overflow: hidden;
    font-weight: 700;
    line-height: 24px;
    position: relative;
    padding: 10px 30px;
    border-radius: 2px;
    margin: 30px 10px 0 0;
    outline: none !important;
    &:hover {
      box-shadow: 0 5px 11px rgb(0 0 0 / 18%), 0 4px 15px rgb(0 0 0 / 15%);
    }
  }
}

@media only screen and (max-width: 767px) {
  #ecoline-main {
    .col-md-6 {
      margin: 0;
      position: static;
    }
  }
}

#main-features {



    .main-features-img{
    background: green;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    }

}
