#freeweight-details-grey {
  background: #505050;

  ul {
    margin-top: 1rem;
    margin-bottom: 1rem;
    li,
    h6 {
      color: white;
      font-size: 13px;
      opacity: 0.75;
      list-style: none;
      font-weight: 600;
      cursor: default;
      &:hover {
        opacity: 1;
        transition: all 0.3s ease-in-out;
      }
    }
    h6 {
      font-size: 16px;
    }
  }
}

@media only screen and (max-width: 991px) {
  #freeweight-details-grey {
    display: none;
  }
}

#details-machine {
  .carousel-indicators [data-bs-target] {
    background-color: #c30e2e;
  }
  li {
    cursor: default;
  }
  h1 {
    padding-left: 2rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.2;
    -webkit-font-smoothing: auto;
    small {
      font-weight: 400;
      line-height: 1;
      color: #777;
      font-size: 65%;
    }
  }
  .title-block {
    padding-left: 2rem;
    a {
      color: #ffffff !important;
      background-color: #c30e2e !important;
      border: 0;
      z-index: 15;
      font-size: 14px;
      overflow: hidden;
      font-weight: 700;
      line-height: 24px;
      position: relative;
      padding: 10px 30px;
      border-radius: 2px;
      margin: 30px 10px 0 0;
      outline: none;
      text-decoration: none;
      &:hover {
        box-shadow: 0 5px 11px rgb(0 0 0 / 18%), 0 4px 15px rgb(0 0 0 / 15%);
      }
    }

    .title-block-ul {
      li {
        font-size: 14px;
        cursor: default;
      }
    }
  }
}

@media only screen and (max-width: 484px) {
  #details-machine {
    h1 {
      font-size: 23px;
      padding-left: 0;
      text-align: center;
    }
    .title-block {
      padding-left: 0rem;
    }
  }
}

#atelier {
  background-color: #383838;

  a {
    color: #ffffff !important;
    background-color: #c30e2e !important;
    border: 0;
    z-index: 15;
    font-size: 14px;
    overflow: hidden;
    font-weight: 700;
    line-height: 24px;
    position: relative;
    padding: 10px 30px;
    border-radius: 2px;
    margin: 30px 10px 0 0;
    outline: none !important;
    text-decoration: none;
    &:hover {
      box-shadow: 0 5px 11px rgb(0 0 0 / 18%), 0 4px 15px rgb(0 0 0 / 15%);
    }
  }
  hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 2px solid rgb(255, 252, 252);
    opacity: 1;
  }
  .atelier-top {
    display: flex;
  }

  .read-more-btn {
    padding: 30px 0;
  }
  h2 {
    padding: 30px 0;
  }
  img{
    width: 100%;
  }
  .content-block-container{
    padding: 10px;
  }
  h4,h6{
    color: white;
    text-align: center;
  }
}
