.header-navbar {
  display: flex;
  align-items: center;

  .header-navbar-menu {
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      display: flex;
      justify-content: space-around;
      align-content: center;

      a {
        opacity: 0.75;
        color: #121212;
        font-size: 14px;
        overflow: hidden;
        font-weight: 600;
        padding: 1px 0 0;
        line-height: 93px;
        position: relative;
        text-transform: uppercase;
        border-top: 3px solid transparent;
        border-bottom: 3px solid transparent;
        text-decoration: none;
        font-family: "Roboto", sans-serif;

        &:hover {
          opacity: 1;
          background-color: transparent;
          color: #c30e2e;
        }
      }
    }
  }
}


.sticky {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  background-color: #fff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
}
body {
  position: relative;
}

