.header-navbar {
  display: flex;
  align-items: center;
  .header-navbar-logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    img {
      width: 180px;
      height: 70px;
    }
  }

  .header-navbar-menu {
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      display: flex;
      align-items: center;
      justify-content: end;
      li{
        margin-right: 10px;
        &:last-child {
          margin-right: 0;
        }
      }
      a {
        opacity: 0.75;
        color: #121212;
        font-size: 14px;
        overflow: hidden;
        font-weight: 600;
        padding: 1px 0 0;
        line-height: 93px;
        position: relative;
        text-transform: uppercase;
        border-top: 3px solid transparent;
        border-bottom: 3px solid transparent;
        text-decoration: none;
        font-family: "Roboto", sans-serif;

        &:hover {
          opacity: 1;
          background-color: transparent;
          color: #c30e2e;
        }
      }
    }
  }
}

.sticky {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  background-color: #fff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
}
body {
  position: relative;
}

@media only screen and (max-width: 1200px) {
  
}

@media only screen and (max-width: 1200px) {
  .header-navbar {
    .header-navbar-menu {
      // display: none;
    }
  }
}

@media only screen and (max-width: 991px) {
  .header {
    .container{
      max-width: 100%;
    }
  }
}
