.header-grey {
  background-color: #505050;
  .header-grey-ul {
    display: flex;
    justify-content: start;

    text-align: center;

    li {
      list-style: none;
      a {
        text-decoration: none;
        color: #fff;
        font-size: 12px;
        font-weight: 400;
        line-height: 1.4;
      }
    }
  }
}

#numeri {
  padding: 50px 0 30px 0;
  h1 {
    font-size: 32px;
    font-weight: 700;
    line-height: 1.2;
    -webkit-font-smoothing: auto;
  }
  small {
    font-weight: 400;
    line-height: 1;
    color: #777;
    font-size: 65%;
  }
  p {
    font-size: 21px;
    font-weight: 300;
    line-height: 1.4;
    -webkit-font-smoothing: antialiased;
  }
}

@media only screen and (max-width: 480px) {
  #numeri {
    h1 {
      font-size: 23px;
      font-weight: 700;
      line-height: 1.2;
      -webkit-font-smoothing: auto;
    }
    p {
      font-size: 15px;
    }
  }
}

#decades-of-history {
  .decades-of-history-text {
    width: 70%;
    margin: auto;
  }
  background-color: #f7f7f7;

  h2 {
    padding: 50px 0 0 0;
    color: #121212;
    letter-spacing: 0;
    margin: 0 auto 10px;
    font-size: 27px;
    font-weight: 800;
    line-height: 1.2;
  }

  a {
    color: #ffffff !important;
    background-color: #c30e2e !important;
    border: 0;
    z-index: 15;
    font-size: 14px;
    overflow: hidden;
    font-weight: 700;
    line-height: 24px;
    position: relative;
    padding: 10px 30px;
    border-radius: 2px;
    margin: 30px 10px 0 0;
    outline: none !important;
    text-decoration: none !important;
  }
  p {
    margin-top: 1rem;
    margin-bottom: 3rem;
    -webkit-font-smoothing: antialiased;
  }
}

@media only screen and (max-width: 480px) {
  #decades-of-history {
    h2 {
      font-size: 21px !important;
    }
    .decades-of-history-text {
      width: 100%;
    }
    background-color: #f7f7f7;

    a {
      display: block;
      width: 100%;
      text-align: center;
    }
    iframe {
      width: 100%;
      height: 100%;
    }
    .q {
      order: 2;
    }
    .w {
      order: 1;
    }
  }
}

@media only screen and (max-width: 1200px) {
  #decades-of-history {
    iframe {
      width: 100%;
      height: 100%;
    }
  }
}

#panatta-infografica {
  .img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
    padding: 30px 0;
  }
}

#made-in-italy {
  background-color: #f7f7f7;
  .made-in-italy-img {
    width: 100%;
    height: 100%;
    img {
      width: 100%;
      height: 100%;
    }
  }
  .made-in-italy-padding {
    padding-right: calc(var(--bs-gutter-x) * 0.5);
    padding-left: calc(var(--bs-gutter-x) * 0.5§);
  }
  h2 {
    font-size: 30px;
    font-weight: 700;
    line-height: 1.2;
    -webkit-font-smoothing: auto;
  }
  .r {
    margin-top: 20px;
    display: flex;
  }
  .made-in-italy-content {
    padding: 90px 0px 0 45px;
    width: 90%;
    p {
      font-size: 19px;
      font-weight: 300;
      line-height: 1.4;
      -webkit-font-smoothing: antialiased;
    }
  }
}
@media only screen and (max-width: 480px) {
  #made-in-italy {
    .made-in-italy-content {
      padding: 0px !important ;
      width: 100%;
      p {
        font-size: 15px !important;
      }
    }

    h2 {
      margin-top: 50px;
      font-size: 21px;
    }
    .made-in-italy-padding {
      padding-right: calc(var(--bs-gutter-x) * 0);
      padding-left: calc(var(--bs-gutter-x) * 0§);
    }
    // .container-fluid{
    //   padding-right: var(--bs-gutter-x,.75rem) !important;
    // }
  }
}

#material {
  .material-content {
    width: 80%;
    margin: auto;
    padding: 0px 0 0 50px;
    h2 {
      margin-top: 70px;
      font-size: 30px;
      font-weight: 700;
      line-height: 1.2;
      -webkit-font-smoothing: auto;
    }
  }
  .material-img img {
    width: 100%;
    height: 330px;
  }
}

@media only screen and (max-width: 480px) {
  #material {
    .q {
      order: 2;
    }
    .w {
      order: 1;
    }

    .material-content {
      width: 100% !important;
      padding: 0px !important;
      h2 {
        font-size: 21px;
        margin-top: 30px;
      }
    }
  }
}

#technologia {
  h2 {
    margin-top: 60px;
    font-size: 30px;
    font-weight: 700;
    line-height: 1.2;
    -webkit-font-smoothing: auto;
  }
  p {
    margin-bottom: 60px;
  }
}
@media only screen and (max-width: 480px) {
  #technologia {
    h2 {
      font-size: 21px;
    }
  }
}

#certification {
  background-color: #f7f7f7;
  .certification-content-img  {
    width: 100%;
    height: 100%;
    img {
      width: 100%;
      height: 100%;
    }

  }
  .certification-content {
    width: 70%;
    margin: auto;

    h2 {
      margin-top: 60px !important;
      font-size: 30px;
      font-weight: 700;
      line-height: 1.2;
      -webkit-font-smoothing: auto;
    }
    a {
      color: #ffffff !important;
      background-color: #c30e2e !important;
      text-decoration: none;
      border: 0;
      z-index: 15;
      font-size: 14px;
      overflow: hidden;
      font-weight: 700;
      line-height: 24px;
      position: relative;
      padding: 10px 30px;
      border-radius: 2px;
      margin: 30px 10px 30px 0 !important;
      outline: none !important;
    }
    p {
      margin-bottom: 60px;
      -webkit-font-smoothing: antialiased;
    }
  }
}

@media only screen and (max-width: 480px) {
  #certification {
    .certification-content {
      width: 100%;
    }
    a {
      display: block;
      width: 100%;
      text-align: center;
    }
    .q {
      order: 2;
    }
    .w {
      order: 1;
    }
    h2 {
      font-size: 21px !important;
    }
    p {
      -webkit-font-smoothing: antialiased;
    }
  }
}

#subscribe {
  background-color: #c30e2e;
  .subscribe-content {
    padding: 60px 0 60px 0px;
    width: 70%;
  }
  .subscribe-centre {
    display: flex;
    justify-content: center;
  }
  h2 {
    font-weight: 700;
    line-height: 1.2;
    -webkit-font-smoothing: auto;
    color: #fff;
  }
  p {
    color: #fff;
    margin-bottom: 40px;
  }
  a {
    text-decoration: none;
    background-color: #1d1d1b !important;
    color: #fff !important;
    border: 0;
    z-index: 15;
    font-size: 14px;
    overflow: hidden;
    font-weight: 700;
    line-height: 24px;
    position: relative;
    padding: 10px 30px;
    border-radius: 2px;
    margin: 30px 10px 0 0;
    outline: none !important;
  }
}
@media only screen and (max-width: 480px) {
  #subscribe {
    .subscribe-content {
      padding: 30px 0 30px 0px;
      width: 100%;
    }
    p{
      font-size: 15px;
    }
    h2 {
      font-size: 21px;
    }
    a{
      display: block;
      width: 100%;
      text-align: center;
    }
  }
}
@media only screen and (max-width: 1200px) {
  #subscribe {
    .subscribe-content {
      padding: 30px 0 30px 0px;
      width: 100%;}}}

///////////
.col-md-6 {
  padding-right: calc(var(--bs-gutter-x) * 0) !important;
  padding-left: calc(var(--bs-gutter-x) * 0) !important;
}

@media only screen and (max-width: 480px) {
  section {
    padding: 0 10px !important;
  }
}

.line-separator {
  width: 40px;
  height: 3px;
  display: block;
  margin: 20px 0 20px;
  background-color: #121212;
}

.row {
  --bs-gutter-x: 0rem !important;
  --bs-gutter-y: 0;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  &::selection {
    background-color: #0b0b0b;
    color: #fff;
  }
}
