#longest-lived-italian {
  .longest-lived-content {
    padding: 0 15px;
    width: 80%;
    float: right;
    h1 {
      padding: 30px 0 0 0;
      font-size: 36px;
      font-weight: 700;
      line-height: 1.2;
      cursor: default;
    }
  }

  .longest-lived-img img {
    width: 100%;
    height: 100%;
  }
}

@media only screen and (max-width: 767px) {
  #longest-lived-italian {
    .longest-lived-content {

        width: 100%;
        .lead{
            font-size: 16px;
        }
      h1 {
        font-size: 23px;
      }
    }
  }
}



#headquarted {
  background-color: #f7f7f7;
  .headquarted-content {
    padding: 0 15px;
    width: 80%;
    float: right;
    .normal {
      padding-left: 0;
    }
    h2 {
      padding: 30px 0 0 0;
      font-size: 30px;
      font-weight: 700;
      line-height: 1.2;
      cursor: default;
    }
    ul {
      font-size: 18px;
      line-height: 40px;
    }
  }
  .headquarted-img img {
    width: 100%;
    height: 100%;
  }
}

@media only screen and (max-width: 767px) {
    #headquarted {

        .order1{
            order: 2;
        }
        .order2{
            order: 1;
        }
        .headquarted-content {
        width: 100%;
        .normal {
           padding: 20px;
        }
        h2 {
            font-size: 23px;
        }
        ul {
            font-size: 16px;
            line-height: 30px;

        }
        }
    }
}

#manufacturing-plant {
  .manufacturing-plant-content {
    padding: 0px 0 0 45px;
    width: 80%;
    float: left;
    .normal {
      padding-left: 0;
    }
    h2 {
      padding: 30px 0 0 0;
      font-size: 30px;
      font-weight: 700;
      line-height: 1.2;
      cursor: default;
    }

    ul {
      font-size: 14px;
      line-height: 25px;
    }
  }
  .manufacturing-plant-img img {
    width: 100%;
    height: 100%;
  }
}


////
.lead {
  margin-bottom: 20px;
  font-size: 21px;
  font-weight: 300;
  line-height: 1.4;
  color: #515151;
  cursor: default;
}

p {
  cursor: default;
}
