#still-thinking {
  background: #c30e2e;
  .still-thinking-content {
    padding: 50px 0 30px;
    text-align: center;
    h2 {
      color: white;
      font-size: 30px;
      font-weight: 700;
      line-height: 1.2;
      -webkit-font-smoothing: auto;
    }
    p {
      color: white;
      font-size: 21px;
    }
    a {
      background-color: white;
      color: black;
      font-weight: 600;
      &:hover {
        background-color: rgb(242, 230, 230);
      }
    }
  }
}

@media only screen and (max-width: 484px) {
  #still-thinking {
    .still-thinking-content {
      padding: 0px 0 30px;
    }
  }
}

#home-fitness-intro {
  padding: 0 130px;
  .card-home-fitness {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;

    img {
      width: 90%;
    }
    p {
      width: 90%;
    }
    h2 {
      padding: 1rem 0;
      color: #c30e2e;
      cursor: pointer;
      font-size: 30px;
      font-weight: 700;
      line-height: 1.2;
      -webkit-font-smoothing: auto;
      &:hover {
        color: #000;
        transition: all 0.3s ease-in-out;
      }
    }
    a {
      color: #ffffff !important;
      background-color: #c30e2e !important;
    }
    a {
      text-decoration: none;
      border: 0;
      z-index: 15;
      font-size: 14px;
      overflow: hidden;
      font-weight: 700;
      line-height: 24px;
      position: relative;
      padding: 10px 30px;
      border-radius: 2px;
      margin: 30px 10px 0 0;
      outline: none !important;
    }
    .hf-btn {
      margin-bottom: 80px;
      margin-top: 40px;
    }
  }
}

@media only screen and (max-width: 767px) {
  #home-fitness-intro {
    padding: 0;
    .card-home-fitness {
      img {
        width: 100%;
      }
      p {
        width: 100%;
      }
    }
  }
}

#hf-info {
  .hf-info-content {
    padding: 40px 0 80px 0;
    width: 53%;
    margin: 0 auto;
  }
  p {
    font-size: 18px;
  }
  .lead {
    font-size: 21px;
  }
}

@media only screen and (max-width: 767px) {
  #hf-info {
    .hf-info-content {
      padding: 40px 0 40px 0;
      width: 100%;
    }
  }
}

#hf-slider {
  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    background-color: #f60a0a;
    border: 50%;
    border-radius: 50%;
  }
  .carousel-inner {
    .carousel-item {
      img {
        // width: 100%;
        height: 530px;
      }
    }
  }
}

@media only screen and (max-width: 1200px) {
  #hf-slider {
    .carousel-inner {
      .carousel-item {
        img {
          height: auto;
        }
      }
    }
  }
}
