#intro {
  .intro-content {
    padding: 40px 0;
    width: 80%;
    margin: auto;

    h1 {
      font-size: 36px;
      font-weight: 700;
      line-height: 1.2;
      cursor: default;
    }
    p {
      font-size: 21px;
      font-weight: 200;
      line-height: 1.5;
      -webkit-font-smoothing: auto;
      cursor: default;
    }
  }
}

#machines,
#progettazione,
#assistance,
#usato,
#financing {
  p {
    cursor: default;
    font-size: 18px;
    color: #515151;
  }
  img {
    width: 100%;
  }
  h2 {
    cursor: default;
    font-size: 30px;
    font-weight: 700;
    line-height: 1.2;
  }
  .machines-content,
  .progettazione-content,
  .assistance-content,
  .usato-content,
  .financing-content {
    padding: 4rem 0 0 0;
    width: 80%;
    margin: auto;
  }
  a {
    color: #ffffff !important;
    background-color: #c30e2e !important;
    text-decoration: none;
    border: 0;
    z-index: 15;
    font-size: 14px;
    overflow: hidden;
    font-weight: 700;
    line-height: 24px;
    position: relative;
    padding: 10px 30px;
    border-radius: 2px;
    margin: 30px 10px 0 0;
    outline: none !important;

    &:hover {
      box-shadow: 0 5px 11px rgb(0 0 0 / 18%), 0 4px 15px rgb(0 0 0 / 15%);
      transition: all 0.3s ease 0s;
    }
  }
  p:nth-of-type(2) {
    margin-top: 40px;
  }
}

.assistance-img,
.financing-img {
  img {
    width: 100%;
    min-height: 100%;
  }
}

.container-fluid {
  padding-right: var(--bs-gutter-x, 0rem) !important;
  padding-left: var(--bs-gutter-x, 0rem) !important;
}

.grey-background {
  background-color: #f7f7f7;
}

@media only screen and (max-width: 484px) {
 #intro{
  .intro-content {
    width: 100%;
  }
  
  p{
    font-size: 16px !important;
  }
  h1{
    font-size: 23px !important;
  }
 }
}

@media only screen and (max-width: 484px) {
  #machines,
  #progettazione,
  #assistance,
  #usato,
  #financing {
    .machines-content,
    .progettazione-content,
    .assistance-content,
    .usato-content,
    .financing-content {
      width: 100%;
    }
  }
  a {
    display: block;
    width: 100%;
    text-align: center;
  }

  p {
    font-size: 16px;
  }
  h2 {
    font-size: 21px;
  }
}
