#intro {
  .intro-content {
    padding: 40px 0;
    width: 80%;
    margin: auto;

    h1 {
      font-size: 36px;
      font-weight: 700;
      line-height: 1.2;
    }
    p {
      font-size: 21px;
      font-weight: 200;
      line-height: 1.5;
      -webkit-font-smoothing: auto;
    }
  }
}

#machines,
#progettazione,
#assistance,
#usato,
#financing {
  img {
    width: 100%;
    height: 100%;
  }
  h2 {
    font-size: 30px;
    font-weight: 700;
    line-height: 1.2;
  }
  .machines-content,
  .progettazione-content,
  .assistance-content,
  .usato-content,
  .financing-content {
    padding: 4rem 0 0 0;
    width: 80%;
    margin: auto;
  }
  a {
    color: #ffffff !important;
    background-color: #c30e2e !important;
    text-decoration: none;
    border: 0;
    z-index: 15;
    font-size: 14px;
    overflow: hidden;
    font-weight: 700;
    line-height: 24px;
    position: relative;
    padding: 10px 30px;
    border-radius: 2px;
    margin: 30px 10px 0 0;
    outline: none !important;
  }
  p:nth-of-type(2) {
    margin-top: 40px;
  }
}

.assistance-img,
.financing-img {
  img {
    width: 100%;
    max-height: 100%;
  }
}

.container-fluid {
  padding-right: var(--bs-gutter-x, 0rem) !important;
  padding-left: var(--bs-gutter-x, 0rem) !important;
}

.grey-background{
  background-color: #f7f7f7;
}
