#intro {
  .intro-content {
    padding: 40px 0;
    width: 80%;

    h1 {
      font-size: 36px;
      font-weight: 700;
      line-height: 1.2;
    }
    p{
        font-size: 21px;
        font-weight: 200;
        line-height: 1.5;
        -webkit-font-smoothing: auto;


    }
  }
}

#machines{

}