#main-top {
  .container-fluid {
    padding-right: var(--bs-gutter-x, 0.1rem);
    padding-left: var(--bs-gutter-x, 0.1rem);
  }
  .row {
    --bs-gutter-x: 0.1rem;
  }

  .image-blok {
    .image-blok-container {
      width: 100%;
      height: 100%;
      position: relative;

      img {
        width: 100%;
        height: 100%;
      }
    }
    .wrapper {
      position: absolute;
      left: 15px;
      right: 15px;
      bottom: 15px;
      z-index: 99;
      text-align: left;
      img {
        display: block;
        width: 100%;
        max-width: 220px;
      }
      p {
        color: #fff;
        margin: 15px 0px 20px 0px;
        display: block;
        width: 100%;
        max-width: 420px;
        text-align: left;
        font-size: 12px;
        text-shadow: 2px 4px 5px rgb(4 10 32 / 50%);
        font-weight: 250;
      }
      span {
        display: inline-block;
        text-align: left;
        background: #c30e2e !important;
        width: auto;
        color: #fff;
        font-size: 14px;
        font-weight: 600;
        overflow: hidden;
        padding: 10px 10px;
      }
    }
    .ribbon-block-style-1 {
      bottom: 15px;
      left: 15px;
      width: auto;
      color: #121212;
      font-size: 14px;
      font-weight: 600;
      overflow: hidden;
      border-radius: 0px;
      padding: 10px 15px;
    }
    .content-block-container a.main-link {
      background: #fff !important;
      text-decoration: none !important;
    }
    .ribbon-block {
      z-index: 30;
      line-height: 1;
      text-align: center;
      position: absolute;
    }
    .main-background-color {
      background-color: #c30e2e !important;
    }
    .main-link {
      color: white;
      text-decoration: none;
      font-size: 16px;
    }
    p.overSlider {
      position: absolute;
      bottom: 20px;
      right: 20px;
      margin: 0px;
      padding: 0px;
      font-size: 10px;
      color: white;
      text-align: right;
      strong {
        font-weight: 700;
      }
    }
  }

  .main-top-little-blok {
    position: relative;
    padding: 2px 0 0 0;
    img {
      width: 100%;
    }

    .main-top-little-blok-image {
      width: 100%;
      height: 100%;
      position: relative;
    }
    .main-top-little-blok-buttom {
      position: absolute;
      bottom: 10px;
      left: 10px;
      a {
        text-decoration: none;
        color: white;
      }
    }
  }
}
