* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}




@import "./header";
@import "./main-top";
@import "./footer";
@import "./about-us";
@import "./services";
@import "./products";
@import "./contacts";
@import "login" ;
@import "histori-panatta" ;
@import "sertification-page" ;


