* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.header-navbar {
  display: flex;
  align-items: center;
}
.header-navbar .header-navbar-menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-content: center;
}
.header-navbar .header-navbar-menu ul a {
  opacity: 0.75;
  color: #121212;
  font-size: 14px;
  overflow: hidden;
  font-weight: 600;
  padding: 1px 0 0;
  line-height: 93px;
  position: relative;
  text-transform: uppercase;
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
}
.header-navbar .header-navbar-menu ul a:hover {
  opacity: 1;
  background-color: transparent;
  color: #c30e2e;
}

#main-top .container-fluid {
  padding-right: var(--bs-gutter-x, 0.1rem);
  padding-left: var(--bs-gutter-x, 0.1rem);
}
#main-top .row {
  --bs-gutter-x: 0.1rem;
}

.image-blok .image-blok-container {
  width: 100%;
  height: 100%;
  position: relative;
}
.image-blok .image-blok-container img {
  width: 100%;
  height: 100%;
}
.image-blok .wrapper {
  position: absolute;
  left: 15px;
  right: 15px;
  bottom: 15px;
  z-index: 99;
  text-align: left;
}
.image-blok .wrapper img {
  display: block;
  width: 100%;
  max-width: 220px;
}
.image-blok .wrapper p {
  color: #fff;
  margin: 15px 0px 20px 0px;
  display: block;
  width: 100%;
  max-width: 420px;
  text-align: left;
  font-size: 14px;
  text-shadow: 2px 4px 5px rgba(4, 10, 32, 0.5);
}
.image-blok .wrapper span {
  display: inline-block;
  text-align: left;
  background: #c30e2e !important;
  width: auto;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  overflow: hidden;
  padding: 10px 15px;
}